importFrom("graphics", "lines", "par")
importFrom("stats", "cov", "optim", "rnorm", "ts.plot", "window")
importFrom("numDeriv","hessian")
import("coda")
export(dssnorm,dssged,dsst,bayesDccGarch,increaseSim,logLikDccGarch,plotVol,plot.bayesDccGarch)
useDynLib(bayesDccGarch)

S3method(plot,bayesDccGarch)
S3method(print,bayesDccGarch)
S3method(summary,bayesDccGarch)
S3method(window,bayesDccGarch)
