importFrom("graphics", "lines", "par")
importFrom("stats", "cov", "cor", "var", "optim", "rnorm", "ts.plot", "window")
importFrom("numDeriv","hessian")
importFrom("utils", "tail")
import("coda")
export(dssnorm,dssged,dsst,bayesDccGarch,increaseSim,logLikDccGarch,plotVol,plot.bayesDccGarch,update.bayesDccGarch,predict.bayesDccGarch)
useDynLib(bayesDccGarch, .registration = TRUE)

S3method(plot,bayesDccGarch)
S3method(print,bayesDccGarch)
S3method(summary,bayesDccGarch)
S3method(window,bayesDccGarch)
S3method(update,bayesDccGarch)
S3method(predict,bayesDccGarch)
